#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0px;
}

.loading {
  position: absolute;
  width: 36px;
  height: 36px;
  z-index: 300;
  top: 38%;
  left: 50%;
  margin: -18px 0 0 -18px;
  background-image: url(/src/assets/Loading.png);
  background-size: 100%;
  animation: rotate 1.4s linear infinite;
}